@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-size: 26px;
}

.error {
    color: red;
    font-size: .6em;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

header,
footer {
    background-color: ghostwhite;
    padding: 20px;
}

main {
    background-color: cornsilk;
    padding: 20px;
}

.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}

.create-product-form {}

.create-product-form .btn {
    display: inline-block;
    /* background: @blue; */
    /* border: 1px solid darken(@blue, 5%); */
    padding: .5em 2em;
    /* color: white; */
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);
}

.create-product-form form {
    display: flex;
    flex-direction: column;
}

.create-product-form form>* {
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-product-form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
}

.create-product-form select {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
}

.create-product-form textarea {
    resize: vertical;
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
}

.log-form {}

.log-form form {
    display: flex;
    flex-direction: column;
}

.log-form form>* {
    margin-top: 5px;
    margin-bottom: 5px;
}

.log-form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
}

.log-form textarea:focus {
    outline: none;
}

.log-form input:focus {
    outline: none;
}

.log-form .forgot {
    text-decoration: none;
    font-size: .75em;
    margin: 0;
    padding: 0;
    float: right;
}

.log-form .forgot:hover {
    text-decoration: underline;
}

.log-form .btn {
    display: inline-block;
    /* background: @blue; */
    /* border: 1px solid darken(@blue, 5%); */
    padding: .5em 2em;
    /* color: white; */
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);
}

.log-form .btn:focus {
    outline: none;
}
