<h1>Create a product</h1>
<div>
    <form>
        <input type="file" id="fileInput" />
        <button id="uploadButton">Upload</button>
        <pre id="progressOutput"></pre>
    </form>
</div>

<script src="/js/upload.js"></script>
