<h1>Create a product</h1>
<div>
    <a href="/developers/products">Back to List</a>
    <hr />
    <form
        id="createProdForm"
        method="post"
        action="/developers/products/create"
        class="create-product-form"
        enctype="multipart/form-data"
    >
        <label for="productName">Name:</label>
        <input type="text" id="productName" name="productName" required />

        <label for="productDescription">Description:</label>
        <textarea
            id="productDescription"
            name="productDescription"
            required
        ></textarea>

        <label for="productPrice">Price:</label>
        <input
            type="number"
            id="productPrice"
            name="productPrice"
            step="0.01"
            required
        />

        <label for="productCategories">Categories:</label>
        <select id="productCategories" name="productCategories" multiple>
            <% categories.forEach(category => { %>
            <option value="<%= category.id%>"><%= category.name%></option>
            <% }) %>
        </select>

        <label for="productImage">Image:</label>
        <input type="file" name="productImage" accept="image/*" />

        <label for="productFile">Upload Product File:</label>
        <input name="productFile" type="file" id="fileInput" />
        <progress
            id="progress"
            value="0"
            max="100"
            style="display: none"
        ></progress>
        <input
            name="downloadUrl"
            type="text"
            id="resultDisplay"
            style="display: none"
            readonly
        />

        <hr />

        <button class="btn" type="submit">Submit Product</button>
        <% if (message != null) {%>
        <p style="color: red"><%= message %></p>
        <% } %>
    </form>
</div>

<script src="/js/upload.js"></script>
