<h1>Products List</h1>
<div>
    <div>
        <a href="/developers/products/create">Create</a>
        <form method="POST" action="/developers/logout">
            <input type="submit" class="btn" value="Logout" />
        </form>
    </div>
    <div>
        <ul>
            <% products.forEach(product => { %>
            <li>
                <% if (product.publishedAt) { %>
                <span>[P]</span>
                <% }else { %>
                <span>[_]</span>
                <% } %>
                <span><%= product.name%></span>
            </li>
            <% }) %>
        </ul>
    </div>
</div>
