<h1>Products List</h1>
<div>
    <div>
        <a href="/developers/products/create">Create</a>
        <form method="POST" action="/developers/logout">
            <input type="submit" class="btn" value="Logout" />
        </form>
    </div>
    <div>
        <ul>
            <% products.forEach(product => { %>
            <li><%= product.name%></li>
            <% }) %>
        </ul>
    </div>
</div>
