<div class="log-form">
    <h2>Welcome to Vair Developers</h2>

    <h3>Please login to continue</h3>
    <form method="POST" enctype="multipart/form-data">
        <input
            name="identifier"
            type="text"
            title="identifier"
            placeholder="Identifier"
        />
        <input
            name="password"
            type="password"
            title="username"
            placeholder="Password"
        />
        <% if (error) { %>
        <p class="error"><%= error.message %></p>
        <% } %>
        <button type="submit" class="btn">Login</button>
        <br />
        <div>
            <p> Want to become a developer?</p>
            <p>
                Contact us at
                <a target="_blank" href="mailto:vair-app@hutech.edu.vn"
                    >vair-app@hutech.edu.vn</a
                >
            </p>
        </div>
    </form>
</div>
